@import "./colours.scss";

.addModelCard {
  border: 1px solid #383B40;
  margin-right: 10px;
  margin-bottom: 50px;
  border-radius: 6px;
  height: 200px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meshCard {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  height: 180px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.meshCard h3 {
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  width: 100%;
  margin-top: 5px;
  margin-left: 50px;
}

.meshCard p {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin-top: 5px;
  margin-left: 50px;
}

.meshCard button {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  margin-top: 30px;
  background-color: #206AEA;
}

.addCircle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #383B40;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.add {
  width: 18px;
  height: 18px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center p {
  font-weight: 500;
}


button {
  background-color: transparent;
  border: 0px;
  font-size: 0.85em;
  color: white;
}
