// $border-grey: #EBECEF;
// $background-blue: #DCEAFF;
// $text-blue: #206AEA;
// $text-black: #1B1C1E;
// $text-secondary: #9D9FA4;

@import "./colours.scss";

.patientCard {
  height: 240px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid $border-grey;
  box-shadow: 0px 5px 9px $blur-grey;
  margin-top: 50px;
}

.wide {
  width: 95%;
}

.nameIdHolder {
  height: 76%;
  width: 100%;
  border-bottom: 1px solid $border-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nameIdHolder h4 {
  font-size: 1.2em;
  color: $text-black;
  margin-bottom: 5px;
}

.nameIdHolder p {
  font-size: 0.8em;
  color: $text-secondary;
}

.initials {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-blue;
  border-radius: 30px;
  margin-bottom: 20px;
}

.initials p {
  font-size: 0.9em;
  color: $text-blue;
  font-weight: 500;
}

.dataButtonHolder {
  height: 24%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3px;
}

.dataButtonHolder button{
  width: 20%;
  height: 100%;
  border: 0px;
  font-size: 0.85em;
  color: $text-secondary;
}

#active {
  color: $text-black;
  border-bottom: 2px solid $text-blue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.detailHolder {
  padding: 0px;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: auto;
}

.detailCard {
  background-color: white;
  flex: 1 0 31%;
  padding: 25px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.detailCard h4 {
  font-weight: 500;
  color: $text-secondary;
  font-size: 0.7em;
  margin-bottom: 15px;
}

.scanHolder {
  background-color: $text-black;
  width: 100%;
  margin-top: 60px;
  margin-right: 0px;
  height: auto;
  position: absolute;
  left: 0px;
  right: 0px;
}

.scanHolder h4 {
  color: $text-secondary;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.scanCardHolder {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
