@import "./colours.scss";

.menuButtonHolder {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#tempDisabled {
  border-right: 0px;
}
