//$background-grey: #F7F8FA;
//$border-grey: #EBECEF;

@import "./colours.scss";

.tempFullHeight {
  position: absolute;
  bottom: 0;
  top: 75px;
  left: 0;
  right: 0;
  background-color: $background-grey;
  background-image: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: 5vw 0px;
}

.menu {
  height: 100%;
  border-right: 1px solid $border-grey;
}
