// $border-grey: #EBECEF;
// $blur-grey: #F0F1F3;

@import "./colours.scss";

.searchBg {
  width: 95%;
  height: 70px;
  border: 1px solid $border-grey;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 5px 9px $blur-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allOfSearch {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allOfFilter {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchIcon {
  margin-left: 25px;
  height: 14px;
  width: auto;
}

.filterButtonHolder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.filterIcon {
  margin-right: 5px;
  height: 25%;
  width: auto;
}

.allOfFilter button {
  border: 0px;
  font-size: 0.85em;
  color: $text-secondary;
}
